.preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .9s ease; 
    /*the higher the digit, the slower the transition took place*/
}

.fade-out-animation {
    opacity: 1; /*the spinner and background visibility*/
    visibility: hidden;
}